<section class="full-width">

<a href="https://source.unsplash.com/600x600/?sig=24" data-lightbox="homePortfolio">
        <img src="https://source.unsplash.com/600x600/?sig=24"/>
      </a>

<a href="https://source.unsplash.com/600x600/?sig=11" data-lightbox="homePortfolio" class="vertıcal">
        <img src="https://source.unsplash.com/600x800/?sig=11"/>
      </a>
  
<a href="https://source.unsplash.com/800x600/?sig=68" data-lightbox="homePortfolio">
        <img src="https://source.unsplash.com/800x600/?sig=68"/>
      </a>

</section>
