/********* NESTED GRID ************/
.cards{
	margin:0;
	display:grid;
	grid-template-columns:1fr 3fr;
	grid-template-rows:min-content auto;
	grid-template-areas:
		"image heading"
		"image para";
	grid-column-gap:0.5rem;
}
.cards h2{
	grid-area:heading;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}
.cards img{
	grid-area:image;
	margin-top: 0.5rem;
	padding: 0.5rem 0rem 0rem 0rem;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.5);	
}
.cards p{
	grid-area:para;
	font-size: 16px;
 line-height: 1.4;
}